<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/micss.css">
    <title>Bienvenidos</title>
</head>
<body>
    <header>
        <img src="imagenes/1-slide-1627062877336-7350340431-9a8323ffd9d70f88ebac46fd36e85d3b1627062879-480-0 (3) - copia.webp">
        <nav>
            <a href="Empresa.html">Nosotros</a>
            <a href="Productos.html">productos</a>
            <a href="Registro.html">registro</a><br>
            <a href="Micuenta.html">Mi cuenta</a>
            <a href="Contacto.html">contacto</a>
        </nav>
    </header> 
    <em><h2>Empresa</h2></em>
    <em><h3>productos</h3></em>
    <em><h4>registro</h4></em>
    <h5>contacto</h5>
    <ol>
       <strong><li>Remeras</li></strong>
       <strong><li>buzos</li></strong>
       <strong><li>Pantalones</li></strong>
    </ol><hr>

    <ul>
        <li><mark>Camperas</mark></li>
        <li><mark>Shorts</mark></li>
        <li><mark>Accesorios</mark></li>
    </ul> 
    <img src="imagenes/articulo1.jpg" alt="">
    <img src="imagenes/articulo2.jpg" alt="">
    <form>
        <label>Nombre</label>
        <input type="text" placeholder="Nombre">
        <label>email</label>
        <input type="text" placeholder=""
        <label>numero de telefono</label>
        <input type="number" placeholder="numero de telefono"
        <label>DNI</label>
        <input type="number" placeholder="DNI"
        <label>asunto</label>
        <input type="text" placeholder="asunto"
        <label>mensaje</label>
        <textarea></textarea>